{{#>layout title="Events" js=true }}
  <table>
    <thead>
    <tr>
      <th>name</th>
      <th>start time</th>
      <th>end time</th>
      <th>city</th>
      <th>region</th>
      <th>country</th>
      <th>time-zone</th>
      <th>Has key?</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each events}}
      <tr>
        <td>{{displayName}}</td>
        <td>
          <span>
            <span class="value">{{startTime}}</span>
            <span class="status"></span>
            <button class="edit-button">edit</button>
          </span>
          <input name="startTime"
                 class="edit-input"
                 type="datetime-local"
                 value="{{startTime}}"
                 data-old-value="{{startTime}}"
                 data-id="{{_id}}"
                 hidden>
        </td>
        <td>
          <span>
            <span class="value">{{endTime}}</span>
            <span class="status"></span>
            <button class="edit-button">edit</button>
          </span>
          <input name="endTime"
                 class="edit-input"
                 type="datetime-local"
                 value="{{endTime}}"
                 data-old-value="{{endTime}}"
                 data-id="{{_id}}"
                 hidden>
        </td>
        <td>
          <span>
            <span class="value">{{city}}</span>
            <span class="status"></span>
            <button class="edit-button">edit</button>
          </span>
          <input name="city"
                 class="edit-input"
                 type="text"
                 value="{{city}}"
                 data-old-value="{{city}}"
                 data-id="{{_id}}"
                 hidden>
        </td>
        <td>{{region}}</td>
        <td>{{country}}</td>
        <td>{{timezone}}</td>
        <td>
          {{#if key}}
            <span>V</span>
            <button class="create-key-button" data-id="{{_id}}" data-name="{{name}}" data-exists="true">recreate key</button>
          {{else}}
            <span>X</span>
            <button class="create-key-button" data-id="{{_id}}" data-name="{{name}}">create key</button>
          {{/if}}
        </td>
        <td><button class="delete-button" data-id="{{_id}}">delete</button></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <a href="/admin/events/add">add event</a>
  <a id="downloader" style="display:none;"></a>
  <script type="application/javascript">
    ;(function () {
      'use strict'

      $('.delete-button').click(function (event) {
        var $target = $(event.target)
        var id = $target.attr('data-id')

        axios.delete('/api/event/' + id, {
          validateStatus: function (status) {
            return (status >= 200 && status < 300) || status === 404
          }
        })
            .then(function () {
              $target.parents('tr').remove()
            }, function (err) {
              $('#message').html(err)
            })
      })

      $('.edit-button').click(function (event) {
        $(event.target).parent()
            .hide()
          .next()
            .show()
            .focus()
      })

      $('.edit-input').focusout(function (event) {
        var $target = $(event.target)
        var $cell = $target.prev()

        if ($target.val() !== $target.attr('data-old-value')) {

          var $editButton = $cell.children('.edit-button')
          var $value = $cell.children('.value')
          var $icon = $cell.children('.status')
          var id = $target.attr('data-id')

          $value.html($target.val())
          $editButton.attr('disabled', true)
          $icon.html('waiting...')

          var body = {}

          body[$target.attr('name')] = $target.val()

          axios.patch('/api/event/' + id, body)
            .then(function () {
              $editButton.attr('disabled', false)
              $icon.html('saved!')
            }, function (err) {
              $('#message').html(err)
            })
        }

        $target.hide()
        $cell.show()
      })

      $('.create-key-button').click(function (event) {
        var $target = $(event.target)

        if ($target.attr('data-exists')) {
          if (!confirm('This operation will revoke any other key you created for this event')) {
            $('#message').html('Key not created')
          }
        }

        var id = $(event.target).attr('data-id')
        var name = $(event.target).attr('data-name')

        axios.post('/api/event/' + id + '/key', {})
            .then(function (response) {
              $target.prev().html('V')
              $target.attr('data-exists', true)
                  .html('recreate key')

              var uri = encodeURI('data:application/json;charset=utf-8,' + JSON.stringify(response.data))

              $('#downloader')
                  .attr('href', uri)
                  .attr('download', name + '.event-key.json')
                  [0].click()
            }, function (err) {
              $('#message').html(err)
            })
      })
    })()
  </script>
{{/layout}}
